<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
   
    <add name="infoSysBackOffice.Properties.Settings.aspnet_infoSys_905049F1_0BD4_465D_9760_1E0D168B344FConnectionString"
      connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=aspnet-infoSys-905049F1-0BD4-465D-9760-1E0D168B344F;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>